body {
  background-image: url("file:///Users/soph/Development/WDI/racing-game/jungle.jpg ") ;
  background-size: cover;
  background-position: center;
}

h1 {
  color : green;
  text-align: center;
}

.well {
  height : 170px;
  background-color: transparent;
}
